<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hillary's portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script type="module" defer src="https://cdn.jsdelivr.net/gh/imananoosheh/github-contributions-fetch@latest/github_calendar_widget.js"></script>
  </head>

  <body>
    <div id="about-me">
      <h1 class="about-me-header">About me</h1>
      <div>
        <h3>Hi, I'm Hillary Lam</h3>
        <p>I am an information technology student based in Vancouver
          studying at the British Columbia Institute of Technology (BCIT).
        I am pursuing a diploma in Computer Information Technology.
        </p>
        <p>
          I enjoy learning about new technology, and I have an interest in digital art and game development.
        </p>
      </div>
    </div>
    <div id="skills">
      <h1 class="skills-header">Skills</h1>
      <div>
        <section class="features-icons text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="m-auto text-primary"><img src="assets/vscode.png" width="100vw" height="100vh"></i>
                  </div>
                  <h3>Visual Studio Code</h3>
                  <p class="lead mb-0">I like to code in Python, JavaScript, HTML, and CSS</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="m-auto text-primary"><img src="assets/figma.png" width="200 vw" height="100vh"></i>
                  </div>
                  <h3>Figma</h3>
                  <p class="lead mb-0">I enjoy designing applications and web sites</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="m-auto text-primary">
                      <img src="assets/VirtualBox.png" width="100vw" height="75vh">
                      <img src="assets/vmware-workstation.png" width="100vw" height="75vh">
                    </i>
                  </div>
                  <h3>VirtualBox and VMware</h3>
                  <p class="lead mb-0">I have experience creating and using virtual machines</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div id="projects">
      <h1 class="projects-header">Projects</h1>
      <div>
        <section class="showcase">
          <div class="container-fluid p-0">
            <div class="row no-gutters">
    
              <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(assets/Home-page.jpg);"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>BChat (2024)</h2>
                <p class="lead mb-0">
                  In this project, I and my groupmates designed, developed, and deployed a social media platform aimed towards BCIT students and BCIT alumni called BChat. <br>
                  Students could create and view posts, add friends, and send direct messages to friends. <br>
                  I took the lead in designing the application wireframes in Figma.<br>
                  My UI design inspirations were Reddit, Instagram, Facebook, and Discord.
                </p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-6 text-white showcase-img" style="background-image: url(assets/linux-assignment.jpg);"></div>
              <div class="col-lg-6 my-auto showcase-text">
                <h2>Bash Shell Scripting (2024)</h2>
                <p class="lead mb-0">
                  I created a Github repository for my Linux course that contains bash shell sripts performing the following features:
                  downloading a pre-set list of packages, creating symbolic links for setting up files from a different Github reposiory, and creating new users and setting their default shells and groups. <br>
                  In this project, I learned not only how to write comprehensive shell scripts in bash, but also how to write clear usage documentation.
                </p>
                <p>
                  
                </p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(assets/bcit-iot.jpg);"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>BCIT Center for IoT (2025)</h2>
                <p class="lead mb-0">
                  This is a project that I am currently working on! <br> Our client is BCIT's Centre for Internet of Things. <br>
                  We are designing an educational application that runs on student's local machines to allow them to experiment with
                  creating IoT sensors. Students can create and simulate sensors themselves or use existing pre-set data to view analytics.
                </p>
              </div>
            </div>
          </div>
        </section>    
      </div>
    </div>
    <div id="github-contributions">
      <h1 class="github-contributions-header">Github Contributions</h1>
      <div>
        <div id="calendar-component" username="poptart-cat-030" theme-color="#4285f4"></div>
      </div>
    </div>
    <div id="resume">
      <h1 class="resume-header">Resume</h1>
      <div>
        <object
          type="application/pdf"
          data="assets/Hillary-Lam-Resume (Portfolio Website Ver).pdf"
          width="800vw"
          height="800vh"
          >
        </object>
      </div>
    </div>
    <div id="contact">
      <h1 class="contact-header">Contact</h1>
      <div>
        <h3>Let's get in contact!</h3>
        <p>
          Email: hillarylam020@gmail.com
        </p>
      </div>
    </div>
    <!-- Footer -->
    <!-- <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer> -->
  </body>
</html>